# Ignore everything
*

# Except these directories
!R_Code_Analysis/
!Python_Code_Analysis/

# Don't ignore files directly in these directories
!R_Code_Analysis/*
!Python_Code_Analysis/*
R_Code_Analysis/raster_footprint*
Python_Code_Analysis/raster_footprint*

# Ignore directories in directories (probably quarto stuff)
R_Code_Analysis/*/
Python_Code_Analysis/*/

!.gitignore
